<article class="post">
  <div class="title mt-3">
    <h4 class="fw-bolder mb-1" >{{title}}</h4> 
    <p class="fs-5 mb-4">{{post_text}}</p>
  </div>
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>